.slider {
  overflow: hidden;
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 300px;
  margin-bottom: 15px;
}

.slider .item img {
  width: 100%;
  height: 300px;
  border: none;
  box-shadow: none;
}

.slider .prev, .slider .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 0;
  top: 50%;
  margin-top: -22px;
  padding: 18px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
}

.buttons {
  text-align: center;
}